html 
    head 
        meta(charset='utf-8')
        meta(
            name='viewport'
            content='width=device-widthm initial-scale=1.0'
        )
        meta(
            name='description'
            content='My app NodeJS + PUG'
        )
        link(
            rel='stylesheet'
            href='css/style.css'
        )
        title My app NodeJS + PUG
    body